Aaron Griffin <aaron@archlinux.org> <aaronmgriffin@gmail.com>
Francois Dupoux <fdupoux@users.sourceforge.net> fdupoux <fdupoux@users.sourceforge.net>
Gerardo Exequiel Pozzi <vmlinuz386@gmail.com> <vmlinuz386@yahoo.com.ar>
Michael Vorburger <mike@vorburger.ch> Michael Vorburger.ch <mike@vorburger.ch>
Simo Leone <simo@archlinux.org> <leone.simo@gmail.com>
Sven-Hendrik Haase <svenstaro@gmail.com> <sh@lutzhaase.com>
